 .title {
    font-size: 70px;
    padding: 15px 0 0 0;
    margin: -4px;
    /* filter: drop-shadow(2px 2px 2px #000); */
    
 }

 .titleE {
  font-size: 35px;
  margin: 0;  
  color: #3E4F64;
}

 .main {
    text-align: center;
    background-color: #B4B4AC;
    height: 1145;
    width: 600;
    border-radius: 30px;
    align-items: center;


 }

 .line {
  width: 401px;
  height: 4px;
  align-items: center;

 }

 * {
  font-family: Advent Pro;
 }

 .image {
  width: 316px;
  height: 300px;
  border-radius: 30px;
  object-fit: cover;
  padding: 15px 0 0 0;

 }

 .img-caption {
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #3E4F64;

 }

 .timeline {
  font-size: 30px;
  padding: 24px 0 0 0;
  margin: 0;
  color: #A25140;
  text-decoration: underline;
 }

 .times {
  display: flex;
  justify-content: center;
  width: 100px;
 }