 .title {
    font-size: 70px;
    padding: 15px 0 0 0;
    margin: -4px;
    /* filter: drop-shadow(2px 2px 2px #000); */
    
 }

 body {
  background-image: url("/img/back.jpg");
  object-fit: cover;
  margin: auto;
}

 .titleE {
  font-size: 35px;
  margin: 0;  
  color: #3E4F64;
}

 .main {
    text-align: center;
    background-color: #B4B4AC;
    max-height: 1145px;
    max-width: 600px;
    border-radius: 30px;
    margin: auto;
    opacity: 95%;

 }

 .line {
  width: 401px;
  height: 4px;
  align-items: center;

 }

 * {
  font-family: Advent Pro;
  filter: drop-shadow(0 0 4px black);
 }

 .image {
  width: 316px;
  height: 300px;
  border-radius: 30px;
  object-fit: cover;
  padding: 15px 0 0 0;

 }

 .img-caption {
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #3E4F64;

 }

 .timeline {
  font-size: 30px;
  padding: 24px 0 0 0;
  margin: 0;
  color: #A25140;
  text-decoration: underline;
 }

 .times {
  display: flex;
  justify-content: center;
  width: 100px;
 }

 .dates {
  padding: 9px 100px 0 100px;
  margin: 0;
  font-size: 20px;
  text-align: left;

 }

 .dateC {
  color: #AA8538;
  font-family: Advent Pro;
  font-weight: bold;


 }

 .qu {
  font-size: 20px;
  padding: 47px 142px 0 142px;
  margin: 0;
  color: #3E4F64;
 }

 .quE {
  font-size: 15px;
 }

 .linkto {
  font-size: 20px;
  padding: 22px 0 31px 0;
  margin: 0;
  color: balck;
 }

 a {
  color: #3E4F64;
  text-decoration: none;
 }